:root {
    --primary-color: darkblue;
    --basic-border: 1px solid black;
    --default-img-width: 200px;
    --default-img-height: auto;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    background-color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: var(--default-img-width);
    height: var(--default-img-height);
    border: var(--basic-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    color: gray;
    margin-top: 15px;
    border-top: var(--basic-border);
    text-align: center;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: var(--default-img-width);
    height: var(--default-img-height);
}